* {
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: black;
	color: white;
}

h1 {
	font-weight: normal;
	font-size: 50px;
}

a {
	color: aquamarine;
	font-size: 16px;
}

h2 {
	font-weight: 300;
	font-size: 42px;
}

p {
	font-size: 21px;
	color: gray;
}

footer p {
	text-align: right;
}
